/* Discord colors */

$White: #FFFFFF;
$Greyple: #99AAb5;
$Black: #23272A;
$DarkButNotBlack: #2C2F33;
$NotQuiteBlack: #23272A;
$Blurple: #5865F2;
$Green: #57F287;
$Yellow: #FEE75C;
$Fuchia: #EB459E;
$Red: #ED4245;